__pycache__/
.Rproj.user
.pytest_cache
*.DS_Store
*.egg-info/
*.py[cod]
*.pyo
*.pyc
**/.RData
**/.Rhistory
**/*.Rproj
**/segfile.txt
AlphaPeel
AlphaPeel_env
bin
dist
build/
docs/build/
example/outputs
example/simple_*/*_output.*
tests/accuracy_tests/accu_report.txt
tests/accuracy_tests/outputs/
tests/accuracy_tests/outputs/**
tests/accuracy_tests/sim_for_alphapeel_accu_test/seg_file.txt
tests/functional_tests/**/outputs/
tests/functional_tests/**/outputs/**
