*.pyo
*.pyc
dist
bin
__pycache__/
*.py[cod]
*.DS_Store
*.egg-info/
AlphaPeel
build/
docs/build/
example/outputs
AlphaPeel_env
tests/functional_tests/**/outputs/
tests/functional_tests/**/outputs/**
.pytest_cache